<div class="container">
  <h3>Student Data Management</h3>
  <hr />
  <div class="c-head">
    <p>Total Student {{'('+this.students?.length+')'}}</p>
    <button mat-flat-button class="add-student" (click)="openDialog()">
      <mat-icon>add</mat-icon>Add New
    </button>
  </div>

  <table class="table" matSort (matSortChange)="sortData($event)">
    <tr style="background-color:#c1c1c1c9">
      <th mat-header="checked" style=" width: 5%"></th>
      <th mat-sort-header="firstname" style=" width: 25%">Student Name (Roll No.)</th>
      <th mat-sort-header="grade">Grade/Class</th>
      <th mat-sort-header="division">Division</th>
      <th mat-sort-header="dob">Date Of Birth</th>
      <th mat-sort-header="gender">Gender</th>
      <th mat-header="action" style=" width: 10%">Action</th>
    </tr>
    <tr class="tr-data" *ngFor="let student of sortedData;let i=index">
      <td align="center"><input type="checkbox" [(ngModel)]="student.checked" (change)="onSelectStudent()" name="checked" value="" /></td>
      <td>{{student.firstname +' '+ student.lastname}}</td>
      <td>{{student.grade}}</td>
      <td>{{student.division}}</td>
      <td>{{student.dob}}</td>
      <td>{{student.gender}}</td>
      <td><mat-icon class="edit-icon" (click)="openDialog(i)">edit</mat-icon>
      <mat-icon class="delete-icon" (click)="deleteStudent(i)">delete_outline</mat-icon></td>
    </tr>
  </table>

  <p *ngIf="this.students.length==0">No Students Available</p>
  <button mat-flat-button [disabled]="this.students.length==0 || studentsToDelete.length==0" (click)="deleteAll()">
  <mat-icon>delete_outline</mat-icon> Delete All</button>
  </div>
